/* réinitialisation et styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COULEURS */
:root {
    --principale: rgb(176, 255, 29);
    --secondaire: rgb(50, 90, 255);
    --sup: rgb(255, 90, 70);
    --black: rgb(36, 42, 42);
    --gris: rgb(139, 139, 139);
    --white: rgb(255, 255, 255);
}

@font-face {
    font-family: 'Steelfish';
    src: url('../src/font/steelfish/Steelfish-ExtraBold.woff2') format('woff2'),
        url('../src/font/steelfish/Steelfish-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* SYSTEME DE GRILLE DU SITE ENTIER*/
    .grid-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 40px;
        width: 100%;
    }

/*HEADER IMPORT */
@import url("header.css");

/*BODY*/
    body {
        font-family: 'Funnel Display', sans-serif;
        width: 100vw;
        margin: 0;
    }

/*MAIN*/
    main {
        width: 100%;
        max-width: 1200px; /* Largeur max du contenu */
        margin: 0 auto; /* Centre le contenu automatiquement */
        padding: 40px; /* Garde du padding interne */
    }
/* TITRE PAGE ACCUEIL */
    .titre-accueil {
        grid-column: 1 / 7;
        grid-row: 1;
        font-size: 75px;
        line-height: 1;
        font-weight: bold;
        color: var(--black);
        text-align: left; /* Centrer le texte */
        align-self: end;
    }

/* MEP RUBRIQUES GENERALES */ 
    #sections {
        display: grid;
        grid-template-columns: repeat(6, 1fr); /* Utilise la même grille de 6 colonnes */
        gap: 40px;
        grid-column: 1 / 7; /* S'étend sur les 6 colonnes de la grille principale */
        width: 100%;
    }
    /**/
    .sections {
        grid-column: 1 / 7;
        grid-row: 1;
        align-items: center;
        width: 100%;
        padding: 6px 0; /* espace entre les traits et le texte */
        position: relative; /* positionnement précis */
    }
    /**/
    .section-a {
        grid-column: 1 / 7;
        grid-row: 1;
        align-items: center;
        width: 100%;
        padding: 6px 0; /* espace entre les traits et le texte */
        position: relative; /* positionnement précis */
    }
    /**/
    .section-b {
        grid-column: 1 / 7;
        grid-row: 2;
        align-items: center;
        width: 100%;
        padding: 6px 0; /* espace entre les traits et le texte */
        position: relative; /* positionnement précis */
    }
    /**/
    .titre-rubrique {
        text-transform: uppercase; /* Texte en majuscules */
        font-weight: bold;
        color: var(--black);
        font-size: 15px;
        grid-column: 1 / 8;
    }
    /**/
    .trait-rubrique-haut, .trait-rubrique-bas {
        height: 2px;
        background-color: var(--black);
        width: 100%;
        position: absolute;
        left: 0;
    }
    /**/
    .trait-rubrique-haut {
        top: 0;
    }
    /**/
    .trait-rubrique-bas {
        bottom: 0;
    }

    
/* BOITES */
    /* liste des boites */
    .boite-doc_a0001 {
        grid-column: 1 / 3;
    }
    .boite-doc_b0001 {
        grid-column: 3 / 5;
    }
    .boite-doc_f0001 {
        grid-column: 5 / 37;
    }

    /* style commun */
    .boite-doc {
        grid-column: span 2; /* Chaque boîte occupe 3 colonnes (sur 6) => Deux boîtes par ligne */
        grid-row: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
    }
    .boite-doc_contenu {
        position: relative;
        text-align: left;
    }
    .boite-doc_trait-haut, .boite-doc_trait-bas {
        height: 2px;
        background-color: var(--black);
        width: 100%;
        position: absolute;
        left: 0;
    }
    .boite-doc_image {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .boite-doc_image img {
        padding: 0px 0px 20px 0px;
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
    }
    .boite-doc_code {
        padding: 0px 0px 15px 0px;
        color: var(--gris);
        font-weight: normal;
        text-transform: uppercase;
        font-size: 15px;
    }
    .boite-doc_nom-structure {
        font-size: 20px;
        font-weight: normal;
    }
    .boite-doc_nom-document {
        font-family: 'Steelfish', sans-serif;
        font-size: 60px;
        text-transform: uppercase;
        line-height: 1;
    }
    .boite-doc_numero-id {
        padding: 40px 0px 15px 0px;
        color: var(--gris);
        text-transform: uppercase;
        font-size: 15px;
    }
    .boite-doc_contenu:hover {
        color: var(--sup);
        transform: translateY(-3px);
        transition: 0.3s;
    }

/* SECTION A — DERNIERE ENTREE */
    /* conteneur principal */
    #accueil_section-b {
        grid-column: 1 / 4; /* Utiliser les colonnes 1 à 4 de la grille globale */
        grid-row: 3; /* Positionner sur la deuxième ligne de la grille globale */
        width: 100%; /* Prendre toute la largeur disponible dans la grille */
        position: relative; /* Positionnement relatif pour les éléments internes */
    }
    /* selection cliquable */
    .accueil_section-link {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none; /* Enlever la décoration par défaut des liens */
        color: inherit; /* Hérite des couleurs du parent */
        transition: 0.3s;
    }
    .boite_fleche-container {
        top: 15px;
        right: 0px;
    }
    .boite_fleche-container svg {
        width: 10px; /* Ajuste selon besoin */
        height: auto;
    }
    .button-b0001 {
        text-transform: uppercase;
        font-weight: bold;
        align-items: left;
        width: 100%;
        text-align: left;
    }
    #accueil_section-b img {
        width: 100%; /* L'image occupe toute la largeur de la section */
        object-fit: cover; /* Maintenir le ratio de l'image sans la déformer */
        display: block; /* Supprime l'espace blanc sous l'image */
        padding: 0px 0px 10px 0;
    }
    .accueil_section-link:hover {
        color: var(--sup);
        transform: translateY(-3px);
        transform: 0.3s;
    }
    .accueil_section-link:hover .boite_fleche-container svg {
        transform: rotate(360deg); /* Rotation complète */
        transition: transform 0.5s ease-in-out; /* Animation fluide */
    }

/* STYLE PAGE RESULTATS */
    /* conteneur principal */
    #results-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 20px 40px;
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
    }

/* STYLE DES RESULTATS INDIVIDUELS */
    /* Forcer les liens visités à avoir la même couleur que les liens normaux */
    a:visited {
        color: var(--black);
    }
    a {
        text-decoration: none !important;
        color: var(--black);
    }
    /* Conteneur des résultats */
    #search-results {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 40px;
        align-items: start;
    }
    .result-item {
        grid-column: span 2; /* Chaque item prend 2 colonnes */
        display: flex;
        flex-direction: column; /* Passe en mode colonne */
        background-color: var(--white);
        border-top: none;
        border-bottom: 2px solid var(--black);
        border-left: none;
        border-right: none;
        transition: 0.3s;
    }
    .result-image {
        width: 100%; /* L'image occupe toute la largeur de l'item */
        height: auto; /* Garde les proportions */
        flex-shrink: 0; /* Empêche la déformation */
        object-fit: cover; /* Évite les déformations */
        padding: 20px 0px 20px 0px;
    }
    .result-text {
        width: 100%; /* Prend toute la largeur */
        text-align: left;
        transition: 0.3s;
    }

    /* PAGE RESULTATS > titre page (les autres titre-page sont gérés dans le secondary) */
    .titre-page{
        font-family: 'Steelfish', sans-serif;
        font-size: 125px;
        text-transform: uppercase;
        line-height: 1;
        color: var(--black);
        text-align: left;
    }
    /* PAGE RESULTATS > nombre de documents trouvés */
    h6 {
        padding: 5px 0px 20px 0px;
        color: var(--black);
        font-weight: normal;
        text-transform: uppercase;
        font-size: 20px;
    }
    /* PAGE RESULTATS > code */
    .result-text h3 {
        padding: 0px 0px 15px 0px;
        color: var(--gris);
        font-weight: normal;
        text-transform: uppercase;
        font-size: 15px;
    }
    /* PAGE RESULTATS > nom-document */
    .result-text h2 {
        font-family: 'Steelfish', sans-serif;
        font-size: 60px;
        text-transform: uppercase;
        line-height: 1;
    }
    /* PAGE RESULTATS > nom-structure */
    .result-text h1 {
        font-size: 20px;
        font-weight: normal;
    }
    /* PAGE RESULTATS > id */
    .result-text p {
        padding: 40px 0px 15px 0px;
        color: var(--gris);
        text-transform: uppercase;
        font-size: 15px;
    }
    /* PAGE RESULTATS > survol > déplacement */
    .result-item:hover {
        transform: translateY(-3px);
    }
    /* PAGE RESULTATS > survol > couleur */
    .result-item:hover .result-text {
        color: var(--sup);
    }